<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmxin.mapper.StoryMapper" >
  <resultMap id="BaseResultMap" type="com.mmxin.pojo.Story" >
    <id column="storyId" property="storyid" jdbcType="INTEGER" />
    <result column="storyTitle" property="storytitle" jdbcType="VARCHAR" />
    <result column="storySummary" property="storysummary" jdbcType="VARCHAR" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="authorId" property="authorid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="replyNumber" property="replynumber" jdbcType="INTEGER" />
    <result column="commentNumber" property="commentnumber" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmxin.pojo.Story" extends="BaseResultMap" >
    <result column="storyContent" property="storycontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    storyId, storyTitle, storySummary, topic, label, authorId, status, replyNumber, commentNumber, 
    updateTime, createTime
  </sql>
  <sql id="Blob_Column_List" >
    storyContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from story
    where storyId = #{storyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from story
    where storyId = #{storyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmxin.pojo.Story" >
    insert into story (storyId, storyTitle, storySummary, 
      topic, label, authorId, 
      status, replyNumber, commentNumber, 
      updateTime, createTime, storyContent
      )
    values (#{storyid,jdbcType=INTEGER}, #{storytitle,jdbcType=VARCHAR}, #{storysummary,jdbcType=VARCHAR}, 
      #{topic,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{authorid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{replynumber,jdbcType=INTEGER}, #{commentnumber,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{storycontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmxin.pojo.Story" >
    insert into story
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        storyId,
      </if>
      <if test="storytitle != null" >
        storyTitle,
      </if>
      <if test="storysummary != null" >
        storySummary,
      </if>
      <if test="topic != null" >
        topic,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="authorid != null" >
        authorId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="replynumber != null" >
        replyNumber,
      </if>
      <if test="commentnumber != null" >
        commentNumber,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="storycontent != null" >
        storyContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        #{storyid,jdbcType=INTEGER},
      </if>
      <if test="storytitle != null" >
        #{storytitle,jdbcType=VARCHAR},
      </if>
      <if test="storysummary != null" >
        #{storysummary,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        #{authorid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="replynumber != null" >
        #{replynumber,jdbcType=INTEGER},
      </if>
      <if test="commentnumber != null" >
        #{commentnumber,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="storycontent != null" >
        #{storycontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmxin.pojo.Story" >
    update story
    <set >
      <if test="storytitle != null" >
        storyTitle = #{storytitle,jdbcType=VARCHAR},
      </if>
      <if test="storysummary != null" >
        storySummary = #{storysummary,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        authorId = #{authorid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="replynumber != null" >
        replyNumber = #{replynumber,jdbcType=INTEGER},
      </if>
      <if test="commentnumber != null" >
        commentNumber = #{commentnumber,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="storycontent != null" >
        storyContent = #{storycontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where storyId = #{storyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmxin.pojo.Story" >
    update story
    set storyTitle = #{storytitle,jdbcType=VARCHAR},
      storySummary = #{storysummary,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      authorId = #{authorid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      replyNumber = #{replynumber,jdbcType=INTEGER},
      commentNumber = #{commentnumber,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      storyContent = #{storycontent,jdbcType=LONGVARCHAR}
    where storyId = #{storyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmxin.pojo.Story" >
    update story
    set storyTitle = #{storytitle,jdbcType=VARCHAR},
      storySummary = #{storysummary,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      authorId = #{authorid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      replyNumber = #{replynumber,jdbcType=INTEGER},
      commentNumber = #{commentnumber,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where storyId = #{storyid,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from story
  </select>

</mapper>