<!DOCTYPE html>
<!--通用头部文件，主要包括引入通用css, js, CSRF 防护， 顶部菜单的定义-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" data-th-fragment="header">

<head>
  <meta charset="utf-8">
  <title>Right Here Waiting For You</title>
  <!-- CSRF 防护-->
  <meta name="_csrf" th:content="${_csrf.token}" />
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <!--在下面的部分引入css,js-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_870730_frmigfkn1m6.css">
  <script src="../../static/js/jquery-3.3.1.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/swiper.min.js"></script>
  <script src="../../static/js/index.js"></script>
</head>

<body>
  <!--共有页头-->
  <div class="home-header clearfix">
  <a href="" class="home-logo pull-left">
    <img src="../../static/img/favicon.ico" alt="WaitingForever首页" title="WaitingForever首页">
  </a>
  <div class="first-level-menu pull-left">
    <a href="">菜单链接一</a>
    <a href="">菜单链接二</a>
    <a href="">菜单链接三</a>
    <a href="">菜单链接四</a>
  </div>
  <div class="home-search pull-left clearfix">
    <input type="" name="" class="input-search pull-left" placeholder="文章、资源">
    <a href="" target="_blank" class="a-search pull-right">
      <svg id="sousuo" viewBox="0 0 1024 1024" width="100%" height="100%" fill="#ccc">
        <path d="M719.6779726 653.55865555l0.71080936 0.70145709 191.77828505 191.77828506c18.25658185 18.25658185 18.25658185 47.86273439 0 66.12399318-18.26593493 18.26125798-47.87208744 18.26125798-66.13334544 0l-191.77828505-191.77828506c-0.2338193-0.2338193-0.4676378-0.4676378-0.69678097-0.71081014-58.13206223 44.25257003-130.69075187 70.51978897-209.38952657 70.51978894C253.06424184 790.19776156 98.14049639 635.27869225 98.14049639 444.17380511S253.06424184 98.14049639 444.16912898 98.14049639c191.10488633 0 346.02863258 154.92374545 346.02863259 346.02863259 0 78.6987747-26.27189505 151.25746514-70.51978897 209.38952657z m-275.50884362 43.11621045c139.45428506 0 252.50573702-113.05145197 252.50573702-252.50573702s-113.05145197-252.50573702-252.50573702-252.50573783-252.50573702 113.05145197-252.50573783 252.50573783 113.05145197 252.50573702 252.50573783 252.50573702z"></path>
      </svg>
    </a>
  </div>
  <div class="release-news pull-left">
    <a href=""><i class="icon iconfont icon-Pencil-"></i>发布链接一</a>
    <a href=""><i class="icon iconfont icon-Book-Open-Page"></i>发布链接二</a>
  </div>
  <div class="login-register pull-right">
    <a href="">登录</a>
    <a href="">注册</a>
  </div>
</div>
  <!--如果已经登陆，则显示用户姓名-->
  <div sec:authorize="isAuthenticated()">
    <div>
      <a th:href="@{'/u/' + ${#authentication.name}}"><span sec:authentication="name"></span></a>
      <div>
        <a href="/u/mmxin" th:href="@{'/u/' + ${#authentication.name}}">个人主页</a>
        <a href="/u/mmxin/profile" th:href="@{'/u/' + ${#authentication.name}} + '/profile'" >个人设置</a>
      </div>
    </div>
    <form action="/logout" th:action="@{/logout}" method="post">
      <input type="submit" value="退出">
    </form>
  </div>
  <!--如果没有登陆，则显示登陆按钮-->
  <div sec:authorize="isAnonymous()" class="login-register pull-right">
    <a href="/login">登录</a>
    <a href="/register">注册</a>
  </div>
    <!--主页面菜单-->
     <div th:each="menu : ${allMenuList}">
         <th:if="${menu.position eq 'main'}}">
                <a href="#" th:href="${menu.url}" text="#" th:text="${menu.title}" />
         </th:if>
     </div>
</body>

</html>