@charset "utf-8";
@keyframes bullet-active {
  0% {
    width: 8px;
  }
  10% {
    width: 20px;
  }
  90% {
    width: 20px;
  }
  100% {
    width: 8px;
  }
}

@-webkit-keyframes bullet-active {
  0% {
    width: 8px;
  }
  10% {
    width: 20px;
  }
  90% {
    width: 20px;
  }
  100% {
    width: 8px;
  }
}