@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, img {
  display: block;
}

ul, ol, li {
  list-style: outside none none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

/*去除a标签点击的虚线框*/
a:active {
  star: expression(this.onFocus=this.blur());
}

fieldset, img {
  border: none;
}