<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}">
  <meta charset="utf-8">
  <!--服务器-->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/swiper.min.css" rel="stylesheet">
  <link href="css/common.css" rel="stylesheet" />
  <link href="css/index.css" rel="stylesheet" />
  <link href="css/anim.css" rel="stylesheet">
  <!--本地-->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/swiper.min.css" rel="stylesheet">
  <link href="../static/css/common.css" rel="stylesheet" />
  <link href="../static/css/index.css" rel="stylesheet" />
  <link href="../static/css/anim.css" rel="stylesheet">
</head>

<body>
  <div class="home-header clearfix">
    <a href="" class="home-logo pull-left">
      <!--<img src="img/favicon.ico" alt="WaitingForever首页" title="WaitingForever首页">-->
      <img src="../static/img/favicon.ico" alt="WaitingForever首页" title="WaitingForever首页">
    </a>
    <div class="first-level-menu pull-left">
      <a href="">菜单链接一</a>
      <a href="">菜单链接二</a>
      <a href="">菜单链接三</a>
      <a href="">菜单链接四</a>
    </div>
    <div class="home-search pull-left clearfix">
      <input type="" name="" class="input-search pull-left" placeholder="文章、资源">
      <a href="" target="_blank" class="a-search pull-right">
        <svg id="sousuo" viewBox="0 0 1024 1024" width="100%" height="100%" fill="#ccc">
          <path d="M719.6779726 653.55865555l0.71080936 0.70145709 191.77828505 191.77828506c18.25658185 18.25658185 18.25658185 47.86273439 0 66.12399318-18.26593493 18.26125798-47.87208744 18.26125798-66.13334544 0l-191.77828505-191.77828506c-0.2338193-0.2338193-0.4676378-0.4676378-0.69678097-0.71081014-58.13206223 44.25257003-130.69075187 70.51978897-209.38952657 70.51978894C253.06424184 790.19776156 98.14049639 635.27869225 98.14049639 444.17380511S253.06424184 98.14049639 444.16912898 98.14049639c191.10488633 0 346.02863258 154.92374545 346.02863259 346.02863259 0 78.6987747-26.27189505 151.25746514-70.51978897 209.38952657z m-275.50884362 43.11621045c139.45428506 0 252.50573702-113.05145197 252.50573702-252.50573702s-113.05145197-252.50573702-252.50573702-252.50573783-252.50573702 113.05145197-252.50573783 252.50573783 113.05145197 252.50573702 252.50573783 252.50573702z"></path>
        </svg>
      </a>
    </div>
    <div class="release-news pull-left">
      <a href=""><i class="icon iconfont icon-Pencil-"></i>发布链接一</a>
      <a href=""><i class="icon iconfont icon-Book-Open-Page"></i>发布链接二</a>
    </div>
    <div class="login-register pull-right">
      <a href="">登录</a>
      <a href="">注册</a>
    </div>
  </div>
  <div class="home-container clearfix">
    <div class="home-nav pull-left">
      <p class="home-nav-menu home-nav-active">推荐</p>
      <p class="home-nav-menu">关注</p>
      <p class="home-nav-menu">最新</p>
      <p class="home-nav-menu">最热</p>
      <p class="home-nav-menu">最持久</p>
      <p class="home-nav-menu">受益匪多</p>
    </div>
    <div class="sub-content pull-left">
      <div class="adv-position">
        <a href="">
          <!--<img src="img/adv-img.jpg" alt="" class="adv-img">-->
          <img src="../static/img/adv-img.jpg" alt="" class="adv-img">
        </a>
        <p class="adv-hint">广告</p>
      </div>
      <div class="rec-articles clearfix">
        <div class="broad-banner pull-left">
          <div class="swiper-container swiper-container-one">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!--<img src="img/slide-1.jpg" alt="" class="slide-img">-->
                <img src="../static/img/slide-1.jpg" alt="" class="slide-img">
                <p class="slide-title">超人不会飞</p>
              </div>
              <div class="swiper-slide">
                <!--<img src="img/slide-1.jpg" alt="" class="slide-img">-->
                <img src="../static/img/slide-1.jpg" alt="" class="slide-img">
              </div>
              <div class="swiper-slide">
                <!--<img src="img/slide-1.jpg" alt="" class="slide-img">-->
                <img src="../static/img/slide-1.jpg" alt="" class="slide-img">
              </div>
              <div class="swiper-slide">
                <!--<img src="img/slide-1.jpg" alt="" class="slide-img">-->
                <img src="../static/img/slide-1.jpg" alt="" class="slide-img">
              </div>
              <div class="swiper-slide">
                <!--<img src="img/slide-1.jpg" alt="" class="slide-img">-->
                <img src="../static/img/slide-1.jpg" alt="" class="slide-img">
              </div>
            </div>
            <div class="swiper-pagination swiper-pagination-one"></div>
            <div class="swiper-button-next swiper-button-next-one">
              <svg viewBox="0 0 19 30">
                <path d="M4,1l14,14L4,29l-3-3l11-11L1,4L4,1z"></path>
              </svg>
            </div>
            <div class="swiper-button-prev swiper-button-prev-one">
              <svg viewBox="0 0 19 30">
                <path d="M18,5L7,16l11,11l-3,3L1,16L15,2L18,5z"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="pull-left recommend-parent">
          <div class="small-recommend">
            <!--<img src="img/recommend-upper.jpg" alt="" class="recommend-upper">-->
            <img src="../static/img/recommend-upper.jpg" alt="" class="recommend-upper">
            <p class="recommend-text">PHP已死？</p>
          </div>
          <div class="small-recommend">
            <!--<img src="img/recommend-upper.jpg" alt="" class="recommend-upper">-->
            <img src="../static/img/recommend-upper.jpg" alt="" class="recommend-upper">
            <p class="recommend-text">PHP已死？</p>
          </div>
        </div>
      </div>
      <div class="art-list-parent">
        <div class="art-list">
          <a href="" class="art-title">题目</a>
          <p class="art-infor clearfix">
            <a href="" class="art -author pull-left">人物</a>
            <span class="art-time pull-left">时间</span>
            <span class="art-read-vol pull-right">阅读量</span>
            <span class="art-comment pull-right">评论</span>
          </p>
        <!--主菜单故事模块，一下部分的标签类型可以随意更改，此处只是为了解析故事的-->
        </div>
          <ol th:each="story : ${indexStory}">
              <li>
                  <div class="art-list">
                     <a href="" class="art-title" th:href="${story.storyid}" th:text="${story.storytitle}" >题目</a>
                     <a href="" class="art -author pull-left" th:href="${story.authorid}">人物</a>
                    <span class="art-time pull-left" th:text="${story.createtime}">时间</span>
                    <span class="art-read-vol pull-right" th:text="${story.commentnumber}">阅读量</span>
                      <a href="" th:text="${story.storysummary}"></a>
                  </div>
              </li>
          </ol>
      </div>
    </div>
    <div class="pre-rec pull-left">
      <div class="adv-position">
        <a href="">
          <!--<img src="img/small-adv-img.jpg" alt="" class="small-adv-img">-->
          <img src="../static/img/small-adv-img.jpg" alt="" class="small-adv-img">
        </a>
        <p class="adv-hint">广告</p>
      </div>
      <div class="small-broad-banner">
        <!--<div class="swiper-container">-->
        <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide">Slide 1</div>-->
        <!--<div class="swiper-slide">Slide 2</div>-->
        <!--<div class="swiper-slide">Slide 3</div>-->
        <!--<div class="swiper-slide">Slide 4</div>-->
        <!--<div class="swiper-slide">Slide 5</div>-->
        <!--<div class="swiper-slide">Slide 6</div>-->
        <!--</div>-->
        <!--<div class="swiper-pagination"></div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div th:replhome-nav-menuace="~{fragments/footer :: footer}">...</div>
  <!--服务器-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/index.js"></script>
  <!--本地-->
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/swiper.min.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>