<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}">
  <meta charset="utf-8">
</head>

<body>
  <div>
    <form th:action="@{/register}" method="post">
      <h2>注册成为博主</h2>
      <div>
        <label for="phoneNum">手机号</label>
        <input type="text" id="phoneNum" name="phoneNum" maxlength="50" placeholder="请输入账号，至少3个字符，至多20个">
      </div>
      <div>
        <label for="userName">昵称</label>
        <input type="text" id="userName" name="userName" maxlength="50" placeholder="请输入账号，至少3个字符，至多20个">
      </div>
      <div>
        <label for="email">邮箱</label>
        <input type="email" id="email" name="email" maxlength="50" placeholder="请输入邮箱">
      </div>
      <div>
        <label for="password">密码</label>
        <input type="password" id="password" name="password" maxlength="30" placeholder="请输入密码，字母或特殊符号和数字结合">
      </div>
      <div>
        <label for="sex">性别</label>
        <select id="sex" name="sex" th:maxlength="5" required>
          <option value="1">男</option>
          <option value="2">女</option>
        </select>
      </div>
       <div>
        <label for="identify">短信验证码</label>
        <input type="text" id="identify" name="identify" maxlength="6" placeholder="验证码">
        <button type="button" id="getIdentify" th:text="点击获取验证码"></button>
      </div>
      <div>
        <button type="submit">提交</button>
      </div>
    </form>
  </div>
  <script type="text/javascript">
      $(function(){
          //按钮单击时执行
          $("#getIdentify").click(function(){
              var input_email = document.getElementById("email").value;
              if (input_email != null && input_email.length > 0){
                  console.log(input_email);
                  $.ajax({
                      url:"/identify/" + input_email,
                      async:true,
                      success:function (msg) {
                          console.log(msg);
                          if (msg == 'SUCCESS'){
                              document.getElementById("getIdentify").innerHTML="邮件发送成功";
                              document.getElementById("getIdentify").disable = false ;
                          }
                      }
                  });
              }else{
                  document.getElementById("getIdentify").innerHTML="邮件发送成功";
              }

          });
      });
  </script>
  <div th:replace="~{fragments/footer :: footer}">...</div>
</body>

</html>